.modal-card-wrapper{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.modal-card-about-header{
    display: flex;
    font-family: "Commissioner" , "sans-serif";
    font-weight: 700;
    font-size: 18px;
    padding: 1rem 0 0 0;
}

.modal-card-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    font-family: "Commissioner" , "sans-serif";
    font-weight: 400;
    font-size: 15px;
}

.modal-card-content{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
    color: hsl(0, 0%, 50%);

}

.close-modal-btn{
    display: flex;
    align-items: center;
    color: #ccc;
    float: right;
    font-size: 30px;
}

.close-modal-btn:hover,.close-modal-btn:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}

.backProjectModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.2);
}

.backProjectModal-content{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

.modal-card{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 50vw;
    background-color: whitesmoke;
    border-style: solid;
    border-color: hsl(0, 0%, 48%);
    border-width: thin;
    font-family: "Commissioner" , "sans-serif";
    font-weight: 400;
    font-size: 16px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.modal-card-header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: hsl(176, 50%, 47%);
}

.modal-container-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.modal-container{
    display: flex;
    flex-direction: row;
}

.modal-content-body{
    display: flex;
    flex-direction: column;
    color: hsl(0, 0%, 70%);
    padding: 1rem 0 1rem 0;
}

.modal-radio{
    display: flex;
    width: 10%;
}

